#preload {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

#timer {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

#score {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#stage {
  overflow: hidden;
}

#timer, #score {
  font-family: 'Cairo', sans-serif;
  font-size: 60px;
}

#timer.lose,
#score.lose {
  color: red;
}

#timer.win,
#score.win {
  color: green;
}

#stage div.pic {
  position: absolute;
}

#stage div.pic.hidden {
  opacity: 0;
}

#stage div.pic img {
  z-index: 99;
}

#stage div.pic div.prettyDate {
  position: absolute;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  width: 400px;
  height: 100px;
  left: calc(50% - 200px);
  top: calc(50% - 50px);
  opacity: 0;
  z-index: 100;
}

#stage div.pic.yay img,
#stage div.pic.dang img,
#stage div.pic.info img {
  opacity: 0.4;
}

#stage div.pic.yay div.prettyDate {
  opacity: 1;
  color: green;
}

#stage div.pic.dang div.prettyDate {
  opacity: 1;
  color: red;
}

#stage div.pic.info div.prettyDate {
  opacity: 1;
  color: black;
}