body {
  margin: 0;
}

#hello, #bye, #rere {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#hello.hidden {
  display: none;
}

#hello #instructions {
  font-size: 60px;
  width: 800px;
  height: 800px;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 400px);
  font-family: 'Bebas Neue', cursive;
}

#hello #instructions p {
  opacity: 0;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
  animation-fill-mode: forwards;
}

#hello #instructions p:nth-child(1) {
  animation-delay: 100ms;
}

#hello #instructions p:nth-child(2) {
  animation-delay: 750ms;
}

#hello #instructions p:nth-child(3) {
  animation-delay: 1500ms;
}

#hello #instructions p:nth-child(5) {
  animation-delay: 2500ms;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#preload {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

#timer {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

#score {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#stage {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#stage.flashLose {
  animation-name: stageFlashBad;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

#stage.flashGood {
  animation-name: stageFlashGood;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

#stage.flashWin {
  animation-name: stageFlashGood;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes stageFlashBad {
  0% {
    background-color: rgba(255, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes stageFlashGood {
  0% {
    background-color: rgba(0, 255, 0, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

#timer, #score {
  font-family: 'Cairo', sans-serif;
  font-size: 60px;
}

#timer.lose,
#score.lose {
  color: red;
}

#timer.win,
#score.win {
  color: green;
}

#stage div.pic {
  position: absolute;
}

#stage div.pic.hidden {
  opacity: 0;
}

#stage div.pic img {
  z-index: 99;
}

#stage div.pic div.prettyDate {
  position: absolute;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  width: 400px;
  height: 100px;
  left: calc(50% - 200px);
  top: calc(50% - 50px);
  opacity: 0;
  z-index: 100;
}

#stage div.pic.yay img,
#stage div.pic.dang img,
#stage div.pic.info img {
  opacity: 0.4;
}

#stage div.pic.yay div.prettyDate {
  opacity: 1;
  color: green;
}

#stage div.pic.dang div.prettyDate {
  opacity: 1;
  color: red;
}

#stage div.pic.info div.prettyDate {
  opacity: 1;
  color: black;
}

#bye {
  background-color: black;
  opacity: 0;
  display: none;
  z-index: 200;
}

#bye.woohoo {
  display: block;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
  animation-fill-mode: forwards;
  animation-delay: 2000ms;
}

#bye #puzzle {
  color: white;
  font-size: 40px;
  position: absolute;
  left: 100px;
  top: 100px;
  font-family: 'Arvo', serif;
}

#bye #puzzle p:nth-child(4n) {
  margin-bottom: 100px;
}

#rere {
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: 199;
}

#rere.lose {
  display: block;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
  animation-fill-mode: forwards;
  animation-delay: 2000ms;
}

#rere #reremessage {
  color: white;
  font-size: 80px;
  position: absolute;
  left: 100px;
  top: 100px;
  font-family: 'Arvo', serif;
}